* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'JetBrains Mono';
}

.main-container {
	margin: 4px;
	padding: 8px 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-container {
	display: flex;
	flex-direction: row;
	width: fit-content;
	gap: 8px;
	margin-bottom: 8px;
}

.input-text {
	border: none;
	border-bottom: 2px solid #8fabd4;
}

.input-text:active,
.input-text:focus {
	outline: none;
	border-color: #016b61;
}

.button {
	padding: 4px 8px;
	background-color: azure;
	border-radius: 4px;
	border-color: #8fabd4;
}

.button:active {
	outline: none;
}

.building {
	display: flex;
	flex-direction: row;
	border: 1px solid lightgrey;
	padding: 8px 12px;
	width: fit-content;
	gap: 8px;
	border-radius: 4px;
}

.stairs {
	padding: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: auto;
	background-color: #efe9e3;
	border-radius: 4px;
	border: 2px solid #8fabd4;
}

.floor {
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.floors {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.room {
	background-color: aliceblue;
	border-radius: 4px;
	padding: 4px 8px;
	border: 2px solid #8fabd4;
	flex: 1;
	text-align: center;
}

.booked-room {
	background-color: #ffdbb6;
	border-color: #dc0e0e;
	color: red;
}

.last-booked-room {
	background-color: #70b2b2;
	border-color: #016b61;
}
